# ===================================================
# Gitignore personalizado - INFO145 - Grupo 4
# ===================================================

# Ejecutables nativos de Windows y Linux (No se suben al repo)
main
main.exe

# Archivos de objetos y binarios temporales
*.o
*.obj

# Resultados de las pruebas de rendimiento (Métricas locales)
# Esto ignora los .csv pero mantiene la carpeta 'resultados' visible en Git
resultados/*.csv
*.csv

# Archivos de volcado de memoria de Valgrind (Sugerido en el enunciado)
vgcore.*

# Configuraciones locales de Visual Studio Code
.vscode/
.history/

# Archivos ocultos del sistema operativo (Windows / macOS)
Thumbs.db
Desktop.ini
.DS_Store